div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border:5px solid rgb(52, 61, 36);
    border-radius: 15px;
    padding: 50px 50px 0 50px;
    margin: 50px 500px 50px 450px;
}
h1{
    color: palegreen;
    background-color: lightcoral;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px 200px 10px 200px;
    margin-left: 450px;
    margin-right: 450px;
}

button{
    color: brown;
    background-color: gray;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 650px;
    margin-right: 500px;
}