<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is a home page</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente obcaecati, eius quia eos autem error aliquam
        dolores ab fugiat dolorum ea nesciunt pariatur, voluptate fugit placeat non exercitationem? Voluptatibus,
        delectus!
        Quas, fugit maiores, recusandae deserunt, itaque sequi reiciendis et laudantium veniam praesentium voluptatem
        non esse? Voluptatum dolor inventore consectetur obcaecati repellat. Ullam, consequuntur accusamus reiciendis
        quaerat reprehenderit magni quia. Atque.
        Libero corrupti ea optio voluptas animi quo. Laborum quia quibusdam minus eum soluta? Aliquid magnam repudiandae
        officia commodi, expedita iusto iure sint magni tenetur facilis deleniti ex voluptatum rerum officiis!
        Perferendis non modi sit reiciendis quia quas ab cupiditate, asperiores, unde nobis recusandae commodi provident
        eum consequuntur dolorem, libero fugit ad voluptatem! Pariatur nam ullam consequatur saepe, expedita suscipit
        odio!
        Itaque soluta repellat eius fuga ducimus! Autem asperiores molestias sunt ipsam ut et, nesciunt itaque
        voluptate. Repudiandae temporibus beatae dolor numquam sapiente aperiam ea laborum similique adipisci et, quae
        alias!</p>

        <button>Click me</button>
</body>

</html>